ul{
    position: relative;
    display: flex;
    transform-style: preserve-3d;
}

ul li{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    margin-bottom: 0px;
    margin-left: 20px;
}

ul li:before {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    background: 2px solid #c7bfbf;
    transform-origin: top;
    transform: skewX(-41deg);
}

ul li:after {
    content: '';
    position: absolute;
    top: 0;
    left: -9px;
    width: 9px;
    height: 100%;
    background: 2px solid #c7bfbf;
    transform-origin: right;
    transform: skewY(-50deg);
}

ul li span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background: #333;
    color: #696969;
    text-shadow: 0 0 20px #696969;
    font-size: 30px !important;
    transition: 0.2;
}

ul li:hover span {
    z-index: 1000;
    transition: 0.5;
    color: #fff;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0,5);
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
    transition: 500ms;
}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
    transition: 500ms;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
    transition: 500ms;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
    transition: 500ms;
}

ul li:hover span:nth-child(1) {
    transform: translate(0px, 0px);
    opacity: 0.2;
    transition: 500ms;
}

ul li:hover:nth-child(1) span{
    background: #e4405f;
    transition: 500ms;
} 

ul li:hover:nth-child(2) span{
    background: #0077b5;
    transition: 500ms;
} 

ul li:hover:nth-child(3) span{
    background: #25D366;
    transition: 500ms;
} 

ul li:hover:nth-child(4) span{
    background: #d325b6;
    transition: 500ms;
} 

ul li:hover:nth-child(5) span{
    background: #ffffff;
    color: black;
    transition: 500ms;
}
ul li:hover:nth-child(6) span{
    background: #0077b5;
    transition: 500ms;
} 

@media only screen and (max-width: 900px) {
    ul li {
        position: relative;
        list-style: none;
        width: 40px;
        height: 40px;
        margin-bottom: 0px;
        margin-left: 20px;
    }
    
}