* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    color: #242424;
    word-wrap: break-word;
    overflow-wrap: break-word;
    min-height: 100vh;
    background: #222;
}

.whopper{
    width: 100%;
    margin: 0 auto;
}

main {
    display: block;
    background: #222;
}

.container {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 760px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.container .Box {
    width: 400px;
    height: 400px;
    background: rgba(2, 2, 2, 0);
    margin-right: 40px;
    border-radius: 30px;
    overflow: hidden;
    border: 2px solid #FFFAFA;
    box-shadow: 0 0 20px #FFFAFA;
}

.container .Box .icon {
    width: 100%;
    height: 100%;
    background: rgba(129, 129, 129, 0.082);
    border-radius: 30px;
    position: relative;
    z-index: 10;
    transition: 1s;
    text-align: center;
    font-size: 200px;
    color: #B0E0E6;
}

.container .Box .icon ion-icon {
    margin-top: 100px;  
    z-index: 100;
}

.container .Box:hover .icon {
    width: 100%;
    height: 50%;
    background: rgb(255, 255, 255);
    border-radius: 0;
    transition: 1s;
    z-index: 10px;
    margin-bottom: 40px;
    border: none;
}

.container .Box:hover .icon ion-icon {
    position: relative;
    top: -45px; 
    margin-bottom: 30px;
    font-size: 100px;
    color: #222;
}

.container .Box h2 {
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #B0E0E6;
    text-shadow: 0 0 20px #B0E0E6;
}

.container .Box p {
    margin: 5px 30px;
    font-size: 13px;
    text-align: justify;
}

section.module h2:hover {
    color: white;
}

.container.contatos {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 760px;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

section.module p {
    margin-bottom: 40px;
    color: #B0E0E6;
    text-shadow: 0 0 20px #B0E0E6;
}

section.module:last-child {
    margin-bottom: 0;
}

section.module .text span.active {
    transition: 1s;
    animation: smoke 700ms linear alternate;
}

@keyframes smoke {
    0% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0) translateY(0) rotate(0) scale(1);
    }

    50% {
        opacity: 1;
        pointer-events: none;
    }

    100% {
        opacity: 0;
        filter: blur(20px);
        transform: translateX(300px) translateY(-500px) rotate(720deg) scale(4);
    }
}

section.module.content {
    padding: 100px 0;
    background: #222;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


section.module.parallax h1 {
    font-size: 50px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    z-index: 100;
}

section.module.parallax h3 {
    font-size: 20px;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 2px #000;
    z-index: 100;
}


section.module.parallax::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 200px;
    background: linear-gradient(to top, #222, transparent);
    z-index: 100;
    bottom: 0;
}


section.module.parallax-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/photos/fundo.jpg);
}


section.module.parallax-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/photos/fundo.jpg);
}


section.module.parallax-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/photos/fundo.jpg);
}

section.module.parallax-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60vh !important;
    position: relative;
    overflow: hidden;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url(/assets/photos/photo-1614624532983-4ce03382d63d.jpg);

}

@media only screen and (max-width: 900px) {
    section.module.parallax h1 {
        font-size: 25px;
        color: white;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
        z-index: 100;
    }
    
    
.container {
    padding-top: 40px;
    padding-bottom: 20px;
    width: 100%;
    max-width: 760px;
    display: block !important; 
}

    .container .Box {
        width: 300px;
        height: 300px;
        background: rgba(2, 2, 2, 0);
        margin-right: 50px;
        margin-left: 50px;
        margin-top: 30px;
        border-radius: 30px;
        overflow: hidden;
        border: 2px solid #B0E0E6;
        box-shadow: 0 0 20px #B0E0E6;
    }
    
    .container .Box .icon {
        width: 100%;
        height: 100%;
        background: rgba(129, 129, 129, 0.082);
        border-radius: 30px;
        position: relative;
        z-index: 10;
        transition: 1s;
        text-align: center;
        font-size: 200px;
        color: #B0E0E6;
    }
    
    .container .Box .icon ion-icon {
        margin-top: 50px;  
        z-index: 100;
    }
    
    .container .Box:hover .icon {
        width: 100%;
        height: 55%;
        background: rgb(255, 255, 255);
        border-radius: 0;
        transition: 1s;
        z-index: 10px;
        margin-bottom: 10px;
        border: none;
    }
    
    .container .Box:hover .icon ion-icon {
        position: relative;
        top: -45px; 
        margin-top: 80px;
        font-size: 100px;
        color: #222;
    }
    
    .container .Box h2 {
        margin-bottom: 0px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 10px;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 2px;
        color: #B0E0E6;
        text-shadow: 0 0 20px #B0E0E6;
    }
    
    .container .Box p {
        margin: 0 30px;
        margin-bottom: 10px;
        font-size: 11px;
        text-align: justify;
    }
}
img{
    border-radius: 47%;
}
.img{
        position: relative;
        border-radius: 50%;
        display: flex;
        transform-style: preserve-3d;
        border-radius: 50%;
    }
    
    .img{
        position: relative;
        list-style: none;
        right: -700px;
        margin-bottom: 0px;
        margin-left: 20px;
        border-radius: 50%;
 }
